<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Сетевое соединение SIRIUS -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Работа Supervisor в фоне -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:label="SIRIUS"
        android:theme="@style/AppTheme">

        <!-- Главное приложение SIRIUS -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- SIRIUS Supervisor -->
        <service
            android:name=".SiriusSupervisorService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
